.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    height: 52px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .notify-box {
        position: absolute;
        top: 6px;
        right: 2px;
        border-radius: 999999px;
        width: 25px;
        height: 18px;
        background-color: var(--primary);
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
